@font-face {
  font-family: 'Poppins';
  src: url(/src/fonts/Poppins-Black.woff) format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: url(/src/fonts/Poppins-Regular.woff) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(/src/fonts/Poppins-Medium.woff) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(/src/fonts/Roboto-Regular.woff) format('woff2');
  font-weight: 400;
}