$color-accent: #E6C744;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #C2C8DA;
$color-hero: #F4F6F5;
$color-arrivals-desc: #7F7F7F;
$color-text-footer: #8E8E8E;
$color-text-accent-footer: #D9D9D9;
$color-text-form: #767676;