/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

@font-face {
  font-family: "Poppins";
  src: url(/src/fonts/Poppins-Black.woff) format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/fonts/Poppins-Regular.woff) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/fonts/Poppins-Medium.woff) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.woff) format("woff2");
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1750;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: #000000;
}

body, html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header {
  margin-top: 45px;
  margin-bottom: 55px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}
.nav__list-link {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.link-black {
  color: #FFFFFF;
  background-color: #000000;
  padding: 15px 22px;
  border-radius: 7px;
}

.hero__inner {
  position: relative;
  background-color: #F4F6F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  border-radius: 50px;
  height: auto;
  padding: 50px 80px 0 125px;
}
.hero__inner__text {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 40px;
}
.hero__inner__tittle {
  font-family: "Poppins", sans-serif;
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  font-weight: 900;
}
.hero__inner__tittle-white {
  position: relative;
  z-index: 10;
}
.hero__inner__tittle-white::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  left: -35px;
  background-color: #FFFFFF;
  width: 464px;
  height: 112px;
  z-index: -10;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.hero__inner__tittle-yellow {
  position: relative;
  z-index: 10;
}
.hero__inner__tittle-yellow::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  left: -35px;
  background-color: #E6C744;
  width: 495px;
  height: 117px;
  z-index: -10;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.hero__inner__link {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 32px;
}
.hero__inner__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__inner__right-img {
  width: 880px;
}

.partners {
  background-color: #E6C744;
  margin: 60px 0;
}
.partners__inner {
  height: auto;
  padding: 60px 0 55px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}
.partners__img-hm {
  max-width: 118px;
  height: 70px;
}
.partners__img-obey {
  max-width: 150px;
  height: 67px;
}
.partners__img-shopify {
  max-width: 176px;
  height: 62px;
}
.partners__img-lacoste {
  max-width: 235px;
  height: 70px;
}
.partners__img-levis {
  max-width: 127px;
  height: 71px;
}
.partners__img-amazon {
  max-width: 166px;
  height: 63px;
}

.arrivals {
  margin-bottom: 190px;
}
.arrivals__title {
  position: relative;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 120px;
  margin-left: 7rem;
  display: inline-block;
}
.arrivals__title::before {
  position: absolute;
  top: 18px;
  right: -10px;
  z-index: -10;
  content: url(/src/images/icons/arrivals/Vector\ 8.svg);
}
.arrivals__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}
.arrivals__item {
  position: relative;
}
.arrivals__item-img {
  max-width: 485px;
  height: 705px;
  border-radius: 20px;
}
.arrivals__item-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: 500;
  margin-top: 28px;
}
.arrivals__item-title::before {
  position: absolute;
  top: 30px;
  right: 0;
  content: url(/src/images/icons/arrivals/Arrow\ 1.svg);
}
.arrivals__item-desc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 500;
  color: #7F7F7F;
}
.arrivals__item-desc::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sale {
  background-color: #E6C744;
  margin-bottom: 190px;
}
.sale__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
}
.sale__img {
  width: 474px;
}
.sale__title {
  position: relative;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-size: 110px;
  line-height: 137px;
  font-weight: 900;
  width: 590px;
}
.sale__title::before {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 540px;
  height: 130px;
  background-color: #FFFFFF;
  z-index: -10;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
.sale__desc {
  margin-bottom: 40px;
}
.sale__text {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 500;
  max-width: 720px;
}
.sale__text-black {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}
.sale__link {
  color: #FFFFFF;
  background-color: #000000;
  padding: 25px 50px;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sale__link:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe {
  background-color: #E6C744;
}
.subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 140px 0 150px 0;
}
.subscribe__inner-tittle {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  line-height: 70px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.subscribe__inner-text {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  margin: 37px 0 50px 0;
}

.form__tittle {
  background-color: #FFFFFF;
  padding: 30px 25px;
  border-radius: 10px;
}
.form__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  color: #000000;
  width: 307px;
}
.form__text ::-webkit-input-placeholder {
  color: #767676;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}
.form__text ::-moz-placeholder {
  color: #767676;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}
.form__text :-ms-input-placeholder {
  color: #767676;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}
.form__text ::-ms-input-placeholder {
  color: #767676;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}
.form__text ::placeholder {
  color: #767676;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}
.form__button {
  background-color: #000000;
  padding: 15px 35px;
  color: #FFFFFF;
  border-radius: 8px;
  margin-left: 10px;
}

.footer {
  background-color: #000000;
  width: 100%;
  height: auto;
  color: #FFFFFF;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 100px 150px 100px;
  color: #8E8E8E;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

.social__inner {
  max-width: 415px;
}
.social__inner-text {
  margin: 32px 0;
}
.social__inner-yellowlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 15px;
}
.social__inner-yellowlink {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #E6C744;
  border-radius: 15px;
  cursor: pointer;
}

.footernav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 200px;
}

.footercamp__inner-tittle {
  color: #D9D9D9;
  margin-bottom: 32px;
}
.footercamp__link {
  color: #8E8E8E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footercamp__link:hover {
  color: #D9D9D9;
}
.footercamp__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.footerlink__inner-tittle {
  color: #D9D9D9;
  margin-bottom: 32px;
}
.footerlink__link {
  color: #8E8E8E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footerlink__link:hover {
  color: #D9D9D9;
}
.footerlink__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.footerlegal__inner-tittle {
  color: #D9D9D9;
  margin-bottom: 32px;
}
.footerlegal__link {
  color: #8E8E8E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footerlegal__link:hover {
  color: #D9D9D9;
}
.footerlegal__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
/*# sourceMappingURL=main.css.map */